<section class="technologies">
  <h2 class="technologies__heading">Technologies I love to work with</h2>
  <ul class="technologies__list">
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/images/javascript.svg" alt="JavaScript logo">
      </div>
      <h3 class="technologies__title">JavaScript</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
        <img src="/images/nodejs-logo.svg" alt="NodeJS logo">
      </div>
      <h3 class="technologies__title">NodeJS</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/images/expressjs-logo.png" alt="ExpressJS logo">
      </div>
      <h3 class="technologies__title">ExpressJS</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
        <img src="/images/mongodb-logo.svg" alt="MongoDB logo">
      </div>
      <h3 class="technologies__title">MongoDB</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
        <img src="/images/bootstrap-logo.svg" alt="Bootstrap CSS logo">
      </div>
      <h3 class="technologies__title">Bootstrap CSS</h3>
    </li>
  </ul>
</section>