---
title: "Eleventy Portfolio"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">My story</h2>
  <p>I'm a man of many passions. But my two most lasting ones are music and computers. I've earned my living for many years with my passion for music but never stopped gaining knowledge in computers and using it for personal projects.</p>
  <p>As the quality of new music declined through the years, the exact opposite happened in IT world. <span><em>That</em></span> and the pandemic reignited my interests in computers and programming.</p>
  <p>My previous skill set of diploma in electronics and experienced knowledge in Pascal, Basic (programming on 8bit and 16bit machines in my school years), C++, Arduino etc. proved to be an excellent starting base for the new technologies I'm getting more and more proficient in every day - HTML, CSS, JavaScript, Git, NodeJS, ExpressJS, MongoDB and still learning new as ReactJS and Firebase</p>
</section>